
body {
  background-color: #F5F5F5;
}

.jumbotron {
  background-image: url('../images/hotel-home.jpg');
  height:300px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron h1, .jumbotron p {
  color: white;
}

.media-object {
  max-width: 200px;
  max-height: 200px;
  margin-right: 10px;
}

.description {
  text-align: justify;
}

button[disabled] {
  pointer-events: none;
  color: #F0FFFF;
}

button {
  margin-right: 5px;
}
